@font-face {
  font-family: "Vazir";
  src: url("assets/fonts/VazirMedium.ttf") format("truetype");
}
:root {
  --blue0: #0d929a;
  --blue1: #31a2a9;
  --orange0: #f1c400;
}
body {
  direction: rtl;
  margin: 0;
  max-width: 1440px;
  background-color: var(--blue0);
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Vazir";
}
